body, html {
  /* background: #222 !important; */
}

body, #timeline .container, #section-texto2 .bg2 {
  background-repeat: no-repeat !important;
  /* background-attachment: fixed; */
  background-size: cover !important;
}

section {
  background: transparent;
}

h1, h2, h3, h4, h5 {
  color: white;
}

p {
  color: white;
}

hr {
  height: 5px !important;
  background: white !important;
  opacity: 1 !important;
  width: 80%;
}

table {
	border-color: transparent !important;
}


/* TIMELINE */
.timeline .sub-titulo {
  min-height: 80px;
}
/* FIM TIMELINE */



/* OWL CAROUSEL */
.owl-next span, .owl-prev span {
	color: white;
  position: absolute;
  margin: -28px -5px;
}

.owl-next, .owl-prev {
	border-radius: 1em;
	padding: 1em;
	position: absolute;
	top: 45%;
	margin-right: -50%;
	transform: translate(-50%, -50%);

  font-size: 2.1em !important;
  text-align: center;
  background: rgb(0 0 0 / 75%) !important;
  border-radius: 13% !important;
  width: 50px;
  height: 50px;
  }

  .owl-next:hover, .owl-prev:hover {
    background: rgb(0 0 0 / 90%) !important;
  }

.owl-next {
	left: 90%;
}

.owl-prev {
	left: 10%;
}
/*FIM OWL CAROUSEL */
