.galery-moisaic img {
  cursor: pointer;
}

.control-galery i {
  font-size: 2.1em;
  width: 1.6em;
  text-align: center;
  line-height: 1.6em;
  background: rgb(0 0 0 / 75%);
  color: #fff;
  border-radius: 13%;
}

.carousel-control-prev i::before {
  margin-right: 3px;
}
.carousel-control-next i::before {
  margin-left: 3px;
}

hr {
  height: 5px !important;
  background: black !important;
  opacity: 1 !important;
}
