body, html {
  /* background: #222 !important; */
}

body, #timeline .container, #section-texto2 .container {
  background-repeat: no-repeat !important;
  /* background-attachment: fixed; */
  background-size: cover !important;
}

section {
  background: transparent;
}

#header {
  z-index: 999;
  position: fixed;
  width: 100%;
}

#gallery {
  padding-top: 75px;
}

nav {
  transition: background 1s;
}

h1, h2, h3, h4, h5 {
  color: white;
}

p {
  color: white;
  font-size: 18px;
}

table {
	border-color: transparent !important;
}


/* SECTION 1 */
.section-text1 h1{
	line-height: 1.5;
}
/* FIM SECTION 1 */


/* SECTION 2 */
.carousel-caption {
	top: 50%;
    left: 50% !important;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    bottom: auto !important;
}
/* FIM SECTION 2 */


/* TIMELINE */
/* .timeline .sub-titulo {
  min-height: 80px;
}

#timeline hr {
  height: 5px !important;
  background: white !important;
  opacity: 1 !important;
  width: 80%;
} */
/* FIM TIMELINE */


/* FOOTER */
footer hr {
  background-color: #41464b !important;
  margin: 2px 0;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 2px 7px 0px #000000;
  box-shadow: 0px 10px 13px -7px #000000, 0px 2px 7px 0px #000000;
}

.sociais {
  display: flex;
}

.social:hover {
  filter: brightness(80%);
}

.social i {
  color: white;
  height: 34px;
  width: 34px;
  text-align: center;
  padding-top: 9px;
  background: #7f522a;
  border-radius: 50%;
}

.icon-wpp img {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/* FIM FOOTER */



/* MEDIA QUERIES */
/* ACIMA */
@media (min-width: 576px) {
  .container-persona {
      width: 100% !important;
  }
}
@media (min-width: 768px) {
  .container-persona {
      width: 75% !important;
  }
  #gallery .gallery-thumbs .swiper-wrapper {
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }

}

/* ABAIXO */
@media (max-width: 576px) {
  #gallery .swiper-navegation {
    width: 40px !important;
    height: 40px !important;
  }
  #gallery .swiper-navegation::after{
    font-size: 18px;
  }
}

/* FIM MEDIA QUERIES */




/* CLASES */
.bg-dark-opacity {
  background: rgb(19 18 18 / 75%)
}

.centered-x1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* FIM CLASES */



/* SWIPER SLIDE */

#gallery .swiper-navegation {
  padding-top: 2px;
  width: 60px;
  height: 60px;
  background: rgb(0 0 0 / 75%);
  border-radius: 8px;
}

.gallery-thumbs .swiper-slide {
  height: 65px !important;
  width: 65px !important;
}

.swiper-container {
      width: 100%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }
    .swiper-slide {
      background-size: cover;
      background-position: center;
    }
    .gallery-top {
      height: 80%;
      width: 100%;
    }
    .gallery-thumbs {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
    }
    .gallery-thumbs .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
    }
    .gallery-thumbs .swiper-slide-thumb-active {
      opacity: 1;
    }
/*FIM SWIPER SLIDE */
